
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html{
  @font-face{
    font-display: swap;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root{
  --light: #f8f8f8;

--gray-medium: #757474;

--gray-light: #bcbcbc;

--primary: #fb9e02;
--primary-disabled: #F8DDAE;

--gray-dark: #393838;

--navbar: #fcf2e8;

 --spacing: 0.4em;


    /* Colors */
    --primary-color:#fb9e02;
    --primary-light-color: rgba(251,158,2,.2);
    --secundary-color:#393838;
    --light-color: #fff;
    --grey-color:#EEEEEE;


    /* Fonts */
    --mont:'Montserrat', sans-serif;
    --opens:'Open Sans', sans-serif;
    --lato:'Lato', sans-serif;
}

#new-navbar{
    display: flex !important;
    justify-content: center !important;
    background: var(--navbar)!important;
    border: none !important;
    margin-bottom: 40px;
    box-shadow: 0 0  10px -5px #000!important;
}

.new-logo img{
    width: 150px;
}

body{
    background: var(--light) !important;
}

.logo--mkt{
  margin: 0 0;
}
.services-stories__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services-stories__container h2{
  color: var(--secundary-color);
  font-size: 14px;
}
.services-stories__container i{
  color: var(--secundary-color);
  font-size: 14px;
  margin: 0 10px;
}



.section__services__content::-webkit-scrollbar {
  display: none;
}
.section__services__content{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  padding: 10px;
  margin: 20px 20px!important;
  height: auto!important;


  background: #fff;
  border-radius: 14px;
  box-shadow: 0 0 10px var(--secundary-color);

  overflow-x: scroll;


}

.section__services__container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

}

.section__services__content .content{
  width: 150px;
  color: #fff;
  font-weight: 300;
  font-size: 16px;


}
.section__services h3{
  color: var(--secundary-color);
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  padding-top: 0;
}

.section__services__container .img{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(251,158,2,.3);

  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid var(--light-color);
  box-shadow: 0 0  10px  rgba(0,0,0,.5);

}
.section__services__container .img img{
  width: 80px;
}

.section__services__content .content h2{
  font-size: 24px;
}
.section__services__content .content h3{
  font-size: 12px;
  color: var(--secundary-color);
  text-transform: uppercase;
  margin: 10px auto 0 auto;

}
.section__services__content .content p{
  text-align: justify;
  color: var(--secundary-color);
}

.all-links__container .button__container{
  margin: 30px 0;

}
.all-links__container .button__container a{
  background: #000 !important;
  border: none!important;
}

@media screen and (max-width:850px){
  .section__services__content{
    display: flex;
    justify-content: unset;
    align-items: center;
    width: 90vw;
    padding: 10px;
    height: auto!important;
  
    overflow-x: scroll;

  }

  .all-links__container .button__container{
    padding: 0 10px;
    margin: 10px;
  }
  .all-links__container .button__container .button{
    display: block!important;
  }
}