.blog-place{
  padding: 20px;
  border-radius: 20px;
  height: 100%;
  min-height: 100vh;
  max-width: 780px;
  width: 100%;
  margin: 40px auto;
  background: transparent;
}

h2 {
  color: var(--secundary-color);
}

.blog-button {
  position: relative;
  width: 200px;
  z-index: 20;
  color: white;
  background: var(--primary-color);
  padding: 14px 30px;
  margin-top: 20px;
  text-align: center;
  border-radius: 4px;
}

a {
  color: var(--secundary-color);
  font-weight: bold;
}


.blog-place div.col-sm-12{
padding-top: 10px;
padding-bottom: 10px;
margin: 20px;
border-radius: 14px;
box-shadow: 0 0 5px #000; 
  background-color: #fff;
}
.blog-place div.read-more{
display: flex;
justify-content: center;
}
nav{
    height: 120px!important;
}