@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html{
  @font-face{
    font-display: swap;
  }
}


:root{

    /* Colors */
    --primary-color:#fb9e02;
    --primary-light-color: rgba(251,158,2,.2);
    --secundary-color:#393838;
    --light-color: #fff;
    --grey-color:#EEEEEE;


    /* Fonts */
    --mont:'Montserrat', sans-serif;
    --opens:'Open Sans', sans-serif;
    --lato:'Lato', sans-serif;
}

body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    width: 100vw;
    overflow-x: hidden;
  
    font-family: var(--lato);
    scroll-behavior: smooth;
  }
  .nav__container--mkt{
    display: flex;
    height: 85px;

    justify-content: center;
    text-align: center;
    align-items: center;
    width: auto;
}
.logo--mkt{
  margin-right: 50px;
}

.logo--mkt img{
  width: 150px;
}
  .mkt__container{
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    align-items: center;
    font-family: var(--mont);
  }

  .offer-place__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10px;
    padding: 20px 5px;
    background: var(--light-color);
    border-radius: 14px;
    box-shadow: 0 0 10px #000;

  }
  .offer-image img{
    max-width: 450px;
  }

  .cta-insta h2{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  .cta-insta i{ 
    margin: 10px;
    font-size: 1.5em;
  } 
  .cta-insta a{ 
    display: flex;
    margin: 0 auto;
    align-items: center;
    color: var(--secundary-color);
  }
  .cta-insta h4{ 
    display: flex;

    align-items: center;

  }
  .cta-insta{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80%;
    padding: 10px;
    margin: 10px;
  }
  #cta-ebook{
    width: 300px;
    margin: 0 auto;
  }


 #cta-ebook button{

    font-size: 16px!important;
    animation: fadeIn 2s;
    border: var(--primary-color);

  }
  .alert{
    margin-bottom: 30px;
  }
  .alert h4{
    font-size: 12px;
    font-weight: 400;

    margin: 2px;
  }

  .display-off a:hover{
    filter: unset;
    border-bottom: 3px solid #dadada;
    /* cursor: not-allowed; */
  }
  .display-off{
  display: none;
  }
  .display-on{
   display: flex;
  }
  .form__input-group{
    display: flex;
    flex-direction: column;
  
    margin: 8px 0;
    background: rgba(0,0,0,0);
    width: 100%;
  }

  form input, button{
    background: rgba(0,0,0,0);
    font-family: var(--mont);
  }

  form .input-group input{
    font-size: 12px;
  
    text-align: start;
  
    height: 40px;
    width: 80%;
    border: unset;
    border-radius: 8px;
    border: 1px solid #949494!important;
  
    margin: 5px auto;
    padding: 0 15px ;
    outline: none;
    color: var(--secundary-color);
    background:transparent;
  }

  ::-webkit-input-placeholder {
    color: #949494;
    font-family: var(--mont);
    font-size: 14px;
  }

.modal{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.5);
  color: white;
  font-size: 54px;
  font-weight: 500;
}
  @media screen and (max-width:485px){
   .offer-image img{
    max-width: 320px;
  }
}