
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html{
  @font-face{
    font-display: swap;
  }
}

:root{

    /* Colors */
    --primary-color:#fb9e02;
    --primary-light-color: rgba(251,158,2,.2);
    --secundary-color:#393838;
    --light-color: #fff;
    --grey-color:#EEEEEE;


    /* Fonts */
    --mont:'Montserrat', sans-serif;
    --opens:'Open Sans', sans-serif;
    --lato:'Lato', sans-serif;
}


.section__faq{
  padding: 40px 0;
}
.section__faq__content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  text-align: center;
  width: auto;
  margin: 0 40px;
  padding: 0 40px;
  min-height: 55vh;


}

.section__faq__container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 30px;

}

.section__faq__content .content{
  max-width: 500px;
  color:var(--secundary-color);
  font-weight: 300;
  font-size: 16px;
}

.section__faq h2{
  color: var(--secundary-color);
  width: 80%;
  text-align: center;
  font-size: 32px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;

}
.section__faq h3{
  max-width: 700px;
  color: var(--secundary-color);
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  padding-top: 0;
}


.faq__content .button__container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px auto;
}

.faq__content .button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  background: var(--primary-color);

  padding: 20px 10px;


  border-radius: 6px;
  border-bottom: 3px solid #B06F01;
}

.button:hover{
border-bottom: none;
}

@media screen and (max-width:635px){


.section__faq{
  padding: 40px 0;
}
.section__faq__content{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  text-align: center;
  width: auto;
  margin: 0 ;
  padding: 0 20px;
  min-height: 55vh;


}

.section__faq__container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 30px;

}

.section__faq__content .content{
  max-width: 500px;
  color:var(--secundary-color);
  font-weight: 300;
  font-size: 14px;
}

.section__faq h2{
  color: var(--secundary-color);
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;

}
.section__faq h3{
  max-width: 700px;
  color: var(--secundary-color);
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  padding-top: 0;
}


.faq__content .button__container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px auto;
}

.faq__content .button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  background: var(--primary-color);

  padding: 20px 10px;


  border-radius: 6px;
  border-bottom: 3px solid #B06F01;
}

.button:hover{
border-bottom: none;
}

}