#modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}
.close{
    width: 50px;
    color: white;
    margin: 4px;
    cursor: pointer;
}
.modal__container{
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;
    justify-content:center;
    align-items: flex-end;
}
.offer-place__container{
    display: flex;
    flex-wrap: nowrap;
}
@media screen and (max-width: 800px){
.offer-place__container{
    display: flex;
    flex-wrap: wrap;
}
.offer-image img{
   height: 150px
}

}
