
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

html{
  @font-face{
    font-display: swap;
  }
}

:root{

    /* Colors */
    --primary-color:#fb9e02;
    --primary-light-color: rgba(251,158,2,.2);
    --secundary-color:#393838;
    --light-color: #fff;
    --grey-color:#EEEEEE;


    /* Fonts */
    --mont:'Montserrat', sans-serif;
    --opens:'Open Sans', sans-serif;
    --lato:'Lato', sans-serif;
}

.services-stories__container{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services-stories__container h2{
  color: var(--secundary-color);
  font-size: 14px;
}
.services-stories__container i{
  color: var(--secundary-color);
  font-size: 14px;
  margin: 0 10px;
}



.section__services__content::-webkit-scrollbar {
  display: none;
}
.section__services__content{
  display: flex;

  align-items: center;
  width: 90vw;
  padding: 0 10px;
  margin: 0 10px;
  min-height: 35vh;

  overflow-x: scroll;
}

.section__services__container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;

}

.section__services__content .content{
  width: 175px;
  color: #fff;
  font-weight: 300;
  font-size: 16px;
}
.section__services h3{
  color: var(--secundary-color);
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  padding-top: 0;
}

.section__services__container .img{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(251,158,2,.3);

  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid var(--light-color);
  box-shadow: 0 0  10px  rgba(0,0,0,.5);

}
.section__services__container .img img{
  width: 120px;
}

.section__services__content .content h2{
  font-size: 24px;
}
.section__services__content .content h3{
  font-size: 14px;
  color: var(--secundary-color);
  text-transform: uppercase;
  margin: 10px auto;

}
.section__services__content .content p{
  text-align: justify;
  color: var(--secundary-color);
}

@media screen and (max-width:485px){
  .services-stories__container{
    display: flex;
  }

}